$high-emph: rgba(white, 0.87);
$med-emph: rgba(white, 0.69); 
$low-emph: rgba(white, 0.38);
$dark-grey : #121212; 
$cm-pink: #ff09a1;
$cm-yellow: #ffde59;
$cm-brown: #452311;

// $dark-grey : #1F1B24;
$overlay: mix($dark-grey, white, 95%);
$overlay-light: mix($dark-grey, white, 86%);

html, body, input, textarea, select {   
  color: $cm-pink !important;
  background-color: $cm-yellow !important;
}

button {
    color: $cm-yellow !important;
    background-color: $cm-pink !important;
}

a {
    color: rgb(90, 10, 251) !important;
}

a:hover {
    color:rgb(177, 145, 240) !important;
}

.site-title, .site-title:visited, .site-nav, .page-link {
    color: $cm-pink !important;
}

.site-nav {
    background-color: $cm-yellow;
    border-color: $overlay-light;
}

* {
    scrollbar-color: $dark-grey $overlay-light;
}

pre, code {
    // BVas a lighter colour to better highlight short code words
    border-color: $cm-brown;
    background-color: $cm-brown;
}

.page-description {
    color: $cm-pink;
}

.post-meta {
    color: $cm-pink;
}

.post-content p, .post-content li {
    color: $cm-pink;
}

.btn {
    background-color: $overlay !important;
    color: $cm-pink !important;
    border-color: $overlay-light !important;
}

.btn:hover {
    background-color: $cm-pink!important;
}

table th{
    background-color: $overlay;
    border-color: $overlay-light;
    color: $cm-pink;
}

table td{
    background-color: $dark-grey;
    border-color: $overlay-light;
    color: $cm-pink;
}

.flash {
    color: $dark-grey !important;
    filter: brightness(80%);
}

canvas {
    filter: invert(100%);
}

.post-list > li > div {
    box-shadow: none !important;
    background-color: $overlay;
    border: none !important;
}

li .post-meta-description {
    color: $cm-pink !important;
}

.search-result-preview{
    color: lightgray !important; 
}

.search-result-highlight {
    color:yellow !important;
    font-weight:bold !important;
}

.search-results-list-item .search-result-title {
    color: cornflowerblue !important;
}
